#img_moi {
    margin-left: 8%;
    margin-top: 50px;
}

p{
    font-size: 35px;
    margin-top: 5em;
}

.plus_gros{
    font-size: 50px;
    font-weight: 900;
    color: rgb(0, 68, 255);
    text-align: end;
}