p{
    text-align: center;
}

#email{
    font-size: 30px;
    text-decoration: underline;  
}

#autres_infos{
    font-size: 30px;
}


h2{
    font-size: 40px;
    margin-left: 10%;
    margin-bottom: 100px;
    margin-top: 100px;
    border-style: groove;
    border-color : rgb(6, 125, 236);
    border-width: 5px;
    border-top: 0;
    border-left: 0;
    border-right: 0;
}

main > div{
    margin-left:5%;
    margin-right: 5%;
}

main > div div {
    display: flex;
    justify-content: space-around;
}

.img_reseaux{
    width: 200px;
    border-radius: 20px;
}

main div a{
    display: block;
    border-radius: 50%;
    padding: 0;
    overflow: hidden;
}