/*-- Spécifique à la page projets --*/

main div{
    display: flex;
    justify-content: space-around;
    gap:40px;
    flex-wrap: wrap;
}

main div div{
    border: 2px solid black;
    padding: 20px;

}



.image_proj{
    margin : auto;
}
.image_proj img{
    width: 300px;
    border-radius: 20px;
    transition: all 0.3s ease-in-out;
}

.projet{
    position: relative;
    flex-basis: 300px;
    background-color: #dbe4e7;
}

.badge {
    position: absolute;
    top: 0px;
    right: 0px;
    border : 1px solid blue;
    background-color: rgb(255, 255, 255);
    border-radius: 2px;
    padding: 1em 1em 1em 1em;
}

.projet p{
    box-sizing: border-box;
}

.projet figure{
    align-self: center;
}

figure a{
    padding: 0;
}

.image_proj img:hover{
    transform: scale(1.1);
}
